<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Graduate Student Management System</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div class = "navbars">
    <ul class="topnav">
        <li><a class="active" href="Welcomepage.php">Home</a></li>
        <li><a class="right" href="/home">Home</a></li>
        <li class="right"><a href="/login">Log in</a></li>
        <li class="right"><a href="/enroll">Enroll</a></li>
    </ul>
</div>

<div class = "main" style="margin-top: 45px;">
    <div class="navbar" style="background-color: rgb(47, 129, 236);">
        <img src="/img/PeradeniyaLogo.jpg" alt="PGSMS" width="50px" height="50px" style="margin-left: 10px;">

        <div class="dropdown" style="margin-left: 400px;">
            <button class="dropbtn">Computer Engineering
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#link1">Facilities</a>
                <a href="#link2">Specializations</a>
                <a href="#link3">About</a>
            </div>
        </div>

        <div class="dropdown" >
            <button class="dropbtn">Postgraduate Studies
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#link1">Researches</a>
                <a href="#link2">Research Facilities</a>
                <a href="#link3">Procedure</a>
            </div>
        </div>

        <div class="dropdown" >
            <button class="dropbtn">Centers & Units
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#link1">Computer Engineering Department</a>
                <a href="#link2">Center for Engineering Research</a>
                <a href="#link3">Computing Centre</a>
            </div>
        </div>

        <div class="dropdown" >
            <button class="dropbtn">Department & Staff
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#link1">Student Help guide</a>
                <a href="#link2">Department ADPC</a>
                <a href="#link3">IQAC</a>
            </div>
        </div>
    </div>

    <dev class="topic">
        <h1>Login</h1>
    </dev>

    <div class="login-form">
        <form th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td><input type="text" name="username" size="36" placeholder="Username..."></td>
                </tr>
                <tr>
                    <td><input type="password" id="pwd" name="pwd" minlength="8" size="36" placeholder="Password..."></td>
                </tr>
                <br>
            </table>
            <br>

            <input type="submit" value="Login"><br>
            <p style="font-family: Arial, Helvetica, sans-serif; font-size:12px;">New Here? <a href="Signup.php">Register</a></p>
            <br><br>
        </form>
    </div>
    <br><br><br><br><br>


</div>

<br>
<footer>
    <p>Department of Computer Engineering, Faculty of Engineering, University of Peradeniya, Sri Lanka<br>
        <a href="https://feels.pdn.ac.lk">feels.pdn.ac.lk</a></p>
</footer>
</body>
</html>